[project]
name = "reservium-api"
version = "2.0.0"
description = "Reservium: a ready to go reservation system"
authors = [{ name = "Artem Kuznetsov", email = "artyom.20century@gmail.com" }]
requires-python = "~=3.12.0"
dependencies = [
    "fastapi==0.128.0",
    "uvicorn[standard]==0.38.0",
    "pydantic[email]==2.12.5",
    "pydantic-settings==2.12.0",
    "sqlalchemy[asyncio]==2.0.45",
    "asyncpg==0.31.0",
    "pytz==2025.2",
    "alembic==1.17.1",
    "sqlalchemy-easy-softdelete==0.8.3",
    "fastapi-mail==1.6.1",
    "itsdangerous==2.2.0",
    "requests-oauthlib==2.0.0",
    "pypdf==6.5.0",
    "httpx==0.28.1",
    "google-auth==2.40.3",
    "google-auth-oauthlib==1.2.3",
    "google-api-python-client==2.187.0",
    "python-dateutil==2.9.0.post0",
    "orjson==3.11.5",
    "gunicorn==23.0.0",
    "aiohttp==3.13.2",
    "python-keycloak==5.8.1",
    "jwcrypto==1.5.6",
    "authzed==1.24.0",
]

[dependency-groups]
dev = [
    "pytest==9.0.2",
    "pytest-asyncio==1.3.0",
    "pytest-cov==7.0.0",
    "pytest-env==1.2.0",
    "mypy==1.19.1",
    "testcontainers==4.13.3",
    "types-pytz==2025.2.0.20251108",
    "types-python-dateutil==2.9.0.20251115",
    "black==25.1.0",
    "ruff==0.14.10",
]

[tool.uv]
package = false

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
