[project]
name = "reservium-api"
version = "2.0.0"
description = "Reservium: a ready to go reservation system"
authors = [{ name = "Artem Kuznetsov", email = "artyom.20century@gmail.com" }]
requires-python = "~=3.12.0"
dependencies = [
    "fastapi==0.121.0",
    "uvicorn[standard]==0.35",
    "pydantic[email]==2.12.4",
    "pydantic-settings==2.11.0",
    "sqlalchemy[asyncio]==2.0.44",
    "asyncpg==0.30.0",
    "pytz==2025.2",
    "alembic==1.17.1",
    "sqlalchemy-easy-softdelete==0.8.3",
    "fastapi-mail==1.5.0",
    "itsdangerous==2.2.0",
    "requests-oauthlib==2.0.0",
    "pypdf==6.1.3",
    "httpx==0.28.1",
    "google-auth==2.40.3",
    "google-auth-oauthlib==1.2.3",
    "google-api-python-client==2.186.0",
    "python-dateutil==2.9.0.post0",
    "orjson==3.11.4",
    "gunicorn==23.0.0",
    "aiohttp==3.13.2",
    "python-keycloak==5.8.1",
    "jwcrypto==1.5.6",
    "authzed==1.23.0",
]

[dependency-groups]
dev = [
    "pytest==8.4.2",
    "pytest-asyncio==1.2.0",
    "pytest-cov==7.0.0",
    "pytest-env==1.2.0",
    "mypy==1.18.2",
    "testcontainers==4.13.2",
    "types-pytz==2025.2.0.20250809",
    "types-python-dateutil==2.9.0.20251008",
    "black==25.1.0",
    "ruff==0.14.3",
]

[tool.uv]
package = false

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
