# Database
POSTGRES_DB=reservium
POSTGRES_USER=reservium
POSTGRES_PASSWORD=admin

# Mail
MAIL_USERNAME=example@example.com
MAIL_PASSWORD=admin
MAIL_FROM_NAME='Reservium System'

OPENID_CLIENT_NAME=provider-name
OPENID_CLIENT_ID=openid-client-id
OPENID_CLIENT_SECRET=openid-client-secret
OPENID_AUTH_URL='https://openid-auth-url'
OPENID_TOKEN_URL='https://openid-token-url'
OPENID_METADATA_URL='https://openid-metadata-url'

# Google
GOOGLE_PROJECT_ID=example-project-id
GOOGLE_PRIVATE_KEY_ID=example-private-key
GOOGLE_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\nexample-private-key\n-----END PRIVATE KEY-----\n'
GOOGLE_CLIENT_EMAIL=example-client-email
GOOGLE_CLIENT_ID=example-client-id
GOOGLE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/example-client-email.iam.gserviceaccount.com
