name: Docker Build and Push

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'release-please--branches--main'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set image tags
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "")

          echo "IMAGE_NAME=${{ secrets.DOCKER_HUB_USER }}/reservium-api" >> $GITHUB_ENV
          echo "VERSION_LATEST=latest" >> $GITHUB_ENV
          echo "VERSION_TAG=$LATEST_TAG" >> $GITHUB_ENV

      - name: Build and push Docker image
        run: |
          docker build -t $IMAGE_NAME:$VERSION_LATEST -t $IMAGE_NAME:$VERSION_TAG .
          docker push $IMAGE_NAME:$VERSION_LATEST
          docker push $IMAGE_NAME:$VERSION_TAG
